---
import "../styles/global.css";
const { title = "Portafolio | Iverson" } = Astro.props;
---
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap" rel="stylesheet">
  </head>

  <body class="bg-[#0B0F1A] text-slate-200 font-['Plus_Jakarta_Sans',sans-serif] selection:bg-violet-500/30">
    <div class="fixed inset-0 -z-10 h-full w-full bg-[radial-gradient(#e5e7eb10_1px,transparent_1px)] bg-size-[16px_16px] mask-[radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"></div>
    
    <slot />
  </body>
</html>